<%-include("header")-%>
<body>
  <div class="box" id="heading">
    <h1 style="color: black"><%=day%></h1>
  </div>
  <div class="box" id="heading">
    <h2>To Do List !</h2>
  </div>
  <div class="box">

    

   


    
    
    <% todo.forEach(element=>{%>

      <form action="/del" method="post">
    <div class="item">
      <input type="checkbox" onChange="this.form.submit()" name="del" value="<%=element._id%>" id="todo-checkbox" />
      <p><%= element.name %></p>
    </div>
    <input type="hidden" name="listName"  value="<%=day%>">
  </form>
    <% }); %>

    <form class="item" action="/<%= day %> " method="post">
      <label for="input1"></label>
      <input type="text" name="todo" id="input1" placeholder="Next To do" />
      <button type="submit" name="btn" value=<%=day%>>+</button>
    </form>
  </div>
</body>
<%-include("footer")-%>
