<%-include("header")-%>
<body>
  <div class="box" id="heading">
    <h1 style="color: black"><%=day%></h1>
  </div>
  <div class="box" id="heading">
    <h2>To Do List !</h2>
  </div>
  <div class="box">
    <% for(let el of todo) {%>
    <div class="item">
      <input type="checkbox" name="" id="todo-checkbox" />
      <p><%= el %></p>
    </div>
    <% }; %>

    <form class="item" action="/" method="post">
      <label for="input1"></label>
      <input type="text" name="todo" id="input1" placeholder="Next To do" />
      <button type="submit" name="btn" value="<%=day%>">+</button>
    </form>
  </div>
</body>
<%-include("footer")-%>
